<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APIPlayground (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>GotNextNotificationServiceExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>basketball-frontend.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E09C4A627D2BC2B00EA7732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E27B82827D06C9A00988912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E538FA027D2B12700074A78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E538FBA27D2B9DF00074A78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3E18A402550C46B00AEB104</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
